.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  --primary-btn: #cbeaf4;
  --btn-text-color: #000;

  --font-krub-sans: "Krub", sans-serif;
  --primary-text-color: #6f4d0d;

  --bg-color: #ffefd2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  padding-top: 10px;
  gap: 64px;
  font-family: var(--font-krub-sans);
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.inviteContainer {
  display: grid;
  grid-template-rows: 0.3fr 0.5fr 0.2fr;
  width: 25%;
  height: 60vh;
  gap: 20px;
  text-align: center;
}

.inviteList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}

.btnRSVP button {
  border: none;
  background-color: var(--primary-btn);
  color: var(--btn-text-color);
  border-radius: 10%;
  height: 65px;
  width: 150px;

  font-size: 25px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 53px;
  grid-row-start: 2;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.main .header {
  width: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.logoContainer {
  position: relative;
  width: 75%;
  max-width: 970px;
  min-width: 400px;
  aspect-ratio: 2/1.5;
}

.logoP {
  object-fit: contain;
  transition: transform 0.3s ease;
  border-radius: 100%;
  cursor: pointer;

  animation: pulse 2s infinite;
}

.logo {
  object-fit: contain;
  transition: transform 0.3s ease;
  border-radius: 100%;
  cursor: pointer;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.eventContainer {
  display: flex;
  flex-direction: row;
  gap: 10%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  position: relative;
  width: 75%;
  max-width: 500px;
  min-width: 200px;
  aspect-ratio: 640/897;
}

.card {
  object-fit: contain;
  transition: all 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  .logoP:hover {
    animation-play-state: paused;
  }

  .logo:hover {
    transform: scale(1.05);
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .btnRSVP button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

@media (hover: none) {
  .logo:active {
    transform: scale(0.98);
  }

  .card:active {
    transform: scale(0.98);
  }

  .btnRSVP button:hover {
    transform: scale(0.98);
  }
}

@media (max-width: 1000px) {
  .eventContainer {
    flex-direction: column;
    gap: 50px;
  }

  .page{
    padding:0;
  }

  .inviteContainer {
    width: 100%;
    height: 200px;
  }
}
