.modal {
  --form-bg: #8c91b5;
  --form-text-color: black;
  --response-btn-bg: #dddddd;
  --response-btn-bg-active: #36df80;
  --response-btn-bg-hover: #59ffa2;

  border: none;
  position: fixed;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 75%;
  z-index: 1000;
  border-radius: 5%;
  transition: transform 0.5s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75);
  font-family: var(--font-krub-sans);
  background-color: var(--form-bg);
  color: var(--form-text-color);

  display: grid;
  grid-template-rows: 65px 1fr 3fr 100px;
  align-items: center;
  justify-items: center;
  gap: 25px;

  overflow-y: auto;
}

.closeBtnDiv {
  display: flex;
  flex-direction: row;
  float: left;
  width: 100%;
  padding-left: 10px;
}

.closeBtn {
  cursor: pointer;
}

.formHeader {
  display: flex;
  flex-direction: column;
  float: left;
  padding-left: 40px;
  width: 100%;
}

.formHeader h3 {
  font-size: 1.5em;
  text-decoration: none;
  font-weight: normal;
  padding-bottom: 10px;
}

.headerInfo {
  display: flex;
  flex-direction: row;
  float: left;
  gap: 10px;
  font-size: 1em;
  padding-left: 15px;
}

.formBody {
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3em;
  max-height: 40vh;
  overflow-y: auto;
  padding-right: 20px;
  /* Add some padding for the scrollbar */
  box-sizing: border-box;
  /* Include padding in the element's total width and height */
}

/* For Webkit browsers like Chrome, Safari */
.formBody::-webkit-scrollbar {
  width: 10px;
}

.formBody::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.formBody::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.formBody::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
.formBody {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Ensure child elements don't overflow */
.formBody > * {
  min-width: 0;
  word-wrap: break-word;
}

.resBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px;
}

.resBlock div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.responseBtn {
  border: none;
  background-color: var(--response-btn-bg);
  color: black;

  width: 100px;
  height: 30px;
  font-size: 18px;

  border-radius: 12px;
  transition: all 0.3s ease;
}

.greenBtn {
  background-color: var(--response-btn-bg-active);
}

.formSubmit .responseBtn {
  height: 40px;
  font-size: 20px;
  margin-bottom: 50px;
}

@media (max-width: 830px) {
  .modal {
    width: 100%;
    height: 100%;
  }

  .headerInfo {
    padding-left: 0;
  }
}

@media (max-height: 800px) {
  .formBody {
    font-size: 12px;
    margin-top: 100px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

  /* Webkit browsers like Chrome and Safari */
  .formBody::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
    /* Light grey track */
  }

  .formBody::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Grey scroll thumb */
    border-radius: 5px;
    border: 2px solid #f1f1f1;
    /* Creates padding around scroll thumb */
  }

  .formBody::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Darker grey when hovering */
  }

  /* For Internet Explorer */
  .formBody {
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  /* Ensure the scrollbar doesn't affect layout */
  .formBody {
    padding-right: calc(20px + 10px);
    /* Additional 10px for scrollbar width */
    box-sizing: border-box;
  }

  .modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 0;
  }
}

@media (hover: hover) and (pointer: fine) {
  .responseBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--response-btn-bg-hover);
  }
}
