.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  --primary-btn: #c2ae73;
  --btn-text-color: #000;

  --font-krub-sans: "Krub", sans-serif;
  --primary-text-color: #c2ae73;

  --bg-color: #fbf6ed;
  --container-bg-color: #e0e0e0;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 60px;
  gap: 64px;
  font-family: var(--font-krub-sans);
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.header {
  display: flex;
  flex-direction: row;
  float: left;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.logoContainer {
  position: relative;
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  aspect-ratio: 250/89;
}

.logoContainerB {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-width: 150px;
  aspect-ratio: 250/89;
}

.responsiveLogo {
  object-fit: contain;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 53px;
  grid-row-start: 2;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.verticalLine {
  border-left: 3px solid var(--primary-text-color);
  border-radius: 15px;
  height: 75%;
}

.portalBox {
  background-color: var(--container-bg-color);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 55vh;
  border-radius: 16px;
  padding: 60px;
  gap: 40px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.Mailbox {
  background-color: var(--container-bg-color);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80vh;
  border-radius: 16px;
  padding: 60px;
  gap: 40px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.MailboxHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: left;
  width: 100%;
  gap: 20px;
}

.MailboxHeader h2 {
  text-align: center;
  padding: 20px 40px;
  border-radius: 30px;
  background-color: var(--bg-color);
  max-width: 450px;
  min-width: 300px;
}

.MailboxHeader h3 {
  padding: 20px 40px;
  border-radius: 16px;
}

.menuTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.mailControlBox {
  display: flex;
  flex-direction: row;
  float: left;
  width: 100%;
}

.sendMailBtn {
  max-width: 125px;
  height: 50px;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 16px;
  transition: all 0.3s ease;
  margin-right: 5px;
}


@media (hover: hover) and (pointer: fine) {
  .sendMailBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

@media (hover: none) {
  .sendMailBtn:active {
    transform: scale(0.98);
  }
}
